@import "../../assets/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  background-image: url("./../../assets/phone1.png");
  background-size: cover;
  width: 180px;
  height: 370px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include desktop {
    display: flex;
    background-image: url("./../../assets/phone1.png");
    background-size: cover;
    width: 250px;
    height: 525px;
    align-items: center;
    justify-content: center;
  }
  p {
    max-width: 100px;
    max-height: 200px;
    overflow: auto;
    word-wrap: break-word;
  }
  ul {
    list-style: none;
  }
}
